# DATA
data/alliances/diplomatie.json
data/configs/blocks.json
data/configs/calendrier.json
data/configs/maintenance.json
data/configs/rival_radar.json
data/configs/serveurs.json
data/configs/surveillance.json
data/configs/users.json
data/configs/storm_alerts.json
data/joueurs/
data/murs_scans/
data/server_scans/

# LOG
logs/

#SCANNERS
scanners/__pycache__

#COGS
cogs/__pycache__

# Les fichiers de configuration secrets
.env

# Fichiers système et Python
__pycache__/
*.pyc
.DS_Store

# Autres
commands.json