# Les dossiers de données locales (NAS)
data/
logs/

# Les fichiers de configuration secrets
.env

# Fichiers système et Python
__pycache__/
cogs/__pycache__
cogs/line_bridge.py
scanners/__pycache__
*.pyc
.DS_Store

# Autres
mots_cles_non_trad.py
commands.json
cogs/line_bridge.py