# DATA

#admins
data/admins/blocks.json
data/admins/contacts.json
data/admins/maintenance.json
#configs
data/configs/users.json
#joueurs
data/joueurs/rival_radar.json
data/joueurs/forteresses_sessions.json
data/joueurs/pseudos.json
data/joueurs/surveillance.json
data/joueurs/votes.json
#serveurs
data/serveurs/calendrier.json
data/serveurs/storm_alerts.json
#server_scans
data/server_scans/

# LOG
logs/

#COGS
cogs/__pycache__

# Les fichiers de configuration secrets
.env

# Fichiers système et Python
__pycache__/
*.pyc
.DS_Store

# Autres
commands.json